.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border-radius: var(--border-radius-s);
  box-shadow: 0 0 30px var(--color-black-custom-05);
  padding: 20px 15px;
}
.smallForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: var(--break-point-mobile);
  background-color: var(--color-white-100);
  padding: 50px 60px;
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 30px var(--color-black-custom-05);
}
.title {
  text-align: center;
  margin-top: -10px;
  font-size: var(--font-size-m);
}
.div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.warning {
  color: var(--color-red-error-100);
}
.subTitle {
  font-size: var(--font-size-s);
  text-align: center;
}
.p {
  font-size: var(--font-size-s);
  line-height: 1.5;
  color: var(--color-black-custom-80);
}
.a {
  color: var(--color-primary-100);
}
.h3 {
  font-weight: 400;
  color: var(--color-primary-100);
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputBoxContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}
.inputBoxContainer > label {
  margin-top: -10px;
}
.aSearchCP:hover {
  color: var(--color-primary-100);
}
@media (min-width: 960px) {
  .samllForm {
    justify-content: center;
  }
  .inputsContainer {
    flex-direction: row;
  }
}
