.main {
  color: var(--color-black-custom-100);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  left: 260px;
  max-width: 1680px;
  min-height: calc(100vh - 90px);
  min-width: 400px;
  overflow: hidden;
  padding: 25px 60px 0;
  position: relative;
  top: 90px;
  width: calc(100% - 260px);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  text-align: center;
  margin-bottom: -15px;
  color: var(--color-primary-100);
  font-weight: 500;
}
.dashboardData {
  font-size: var(--font-size-s);
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.dashboardData span {
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.dashboardDataNumberPendings {
  color: var(--color-secundary-100);
}
.dashboardDataNumberOnDeposit {
  color: var(--color-primary-100);
}
.dashboardDataNumberSends {
  color: var(--color-green-ok-100);
}
.dashboardDataNumberTotal {
  color: var(--color-primary-100);
}
.link {
  cursor: pointer;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}
.box,
.expressBox,
.boxSpaceBetween,
.tarifaBox,
.publicityBox {
  position: relative;
  width: 100%;
  padding: 30px;
  display: flex;
  font-weight: 500;
  color: var(--color-black-custom-100);
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: var(--border-radius-s);
  box-shadow: 0 0 15px var(--color-black-custom-05);
  overflow: hidden;
}
.publicityBox {
  height: 220px;
}
.saldoActual {
  color: var(--color-primary-100);
  font-size: var(--font-size-l);
}
.tarifaBox {
  flex-direction: column;
  gap: 20px;
  width: 360px;
  min-width: 360px;
  justify-content: flex-start;
  border-radius: var(--border-radius-xl);
  height: 500px;
  padding: 30px 40px;
}
.tarifaBox::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 80%;
  transform: rotate(45deg);
  opacity: 10%;
  z-index: -1;
}
.tarifaBox ul {
  color: var(--color-black-custom-60);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.tarifaBox ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.promailLogo {
  margin-top: -10px;
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: var(--color-black-custom-100);
}
.promailLogo span {
  font-weight: 700;
  color: var(--color-promail-100);
}
.tarifaBoxCorreoArgentino::before {
  background-color: var(--color-correo-argentino-100);
}
.tarifaBoxCruzDelSur::before {
  background-color: var(--color-cruz-del-sur-100);
}
.tarifaBoxPromail::before {
  background-color: var(--color-promail-100);
}
.tarifaBoxCorreoArgentino button {
  background-color: var(--color-correo-argentino-100);
}
.tarifaBoxPromail button {
  background-color: var(--color-promail-100);
}
.tarifaBoxCruzDelSur button {
  background-color: var(--color-cruz-del-sur-100);
}
.tarifaBoxCruzDelSur .expressBox {
  margin-top: 10px;
}
.tarifaBox button {
  color: var(--color-white-100);
  width: 60%;
  padding: 10px;
  font-size: var(--font-size-s);
  border-radius: var(--border-radius-xl);
  margin: 15px auto;
  position: absolute;
  border: none;
  bottom: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.tarifaBox button:hover {
  opacity: 0.8;
}
.checkIcon {
  color: var(--color-primary-80);
}
.precioTarifa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.precioTarifa div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-black-custom-60);
  font-weight: 600;
}
.precioTarifa span {
  font-weight: 600;
  color: var(--color-primary-100);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: var(--font-size-xl);
  margin-bottom: -5px;
}
.precioTarifa strong {
  font-size: var(--font-size-l);
}
.expressBox {
  height: max-content;
  width: max-content;
  padding: 0;
  box-shadow: none;
}
.boxes .box,
.expressBox,
.publicityBox {
  transition: scale ease 0.3s;
  cursor: pointer;
}
.boxSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxes .box:hover,
.expressBox:hover,
.publicityBox:hover {
  scale: 1.02;
}
.warning {
  color: var(--color-red-error-100);
  margin-left: 15px;
}

@media (max-width: 960px) {
  .boxes {
    flex-direction: column;
  }
  .main {
    padding: 25px;
  }
  .tarifaBox {
    width: 80%;
  }
}
