.title {
  color: var(--color-primary-100);
  font-size: var(--font-size-l);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: max-content;
}
.title:hover {
  opacity: 0.8;
}
.title:active {
  opacity: 1;
}
