.footer {
  padding: 15px 10px 40px;
  border-top: 1px solid var(--color-black-custom-20);
  font-size: var(--font-size-s);
  line-height: 1.5;
  color: var(--color-black-custom-60);
}
.systemStatus span {
  color: var(--color-green-ok-100);
}
.content {
  display: flex;
  gap: 15px;
}
