.main {
  top: 60px;
  left: 250px;
  position: relative;
  width: calc(100% - 250px);
  min-height: calc(100vh - 110px);
  padding: 25px 60px;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1680px;
  min-width: 400px;
  margin: 0 auto;
  color: var(--color-black-custom-100);
}
.title {
  text-align: center;
  margin-bottom: -15px;
  font-weight: 500;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}
.box,
.expressBox,
.boxSpaceBetween,
.tarifaBox,
.publicityBox {
  position: relative;
  width: 100%;
  padding: 30px;
  display: flex;
  cursor: default;
  font-weight: 500;
  color: var(--color-black-custom-100);
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: var(--border-radius-s);
  box-shadow: 0 0 15px var(--color-black-custom-05);
  overflow: hidden;
}
.publicityBox {
  height: 180px;
}
.saldoActual {
  color: var(--color-primary-100);
}
.tarifaBox {
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
  justify-content: flex-start;
  border-radius: var(--border-radius-xl);
  height: 500px;
  padding: 30px 40px;
}
.tarifaBox ul {
  color: var(--color-black-custom-60);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.tarifaBox ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tarifaBoxCorreoArgentino button {
  background-color: var(--color-correo-argentino-100);
}
.tarifaBoxPromail button {
  background-color: var(--color-promail-100);
}
.tarifaBoxCruzDelSur button {
  background-color: var(--color-cruz-del-sur-100);
}
.tarifaBox button {
  color: var(--color-white-100);
  width: 60%;
  padding: 10px;
  font-size: var(--font-size-s);
  border-radius: var(--border-radius-xl);
  margin: 15px auto;
  position: absolute;
  bottom: 20px;
}
.tarifaBox button span {
  justify-content: center;
}
.checkIcon {
  color: var(--color-primary-80);
}
.precioTarifa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.precioTarifa div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-black-custom-60);
  font-weight: 600;
}
.precioTarifa span {
  font-weight: 600;
  color: var(--color-primary-100);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: var(--font-size-xl);
  margin-bottom: -5px;
}
.precioTarifa strong {
  font-size: var(--font-size-l);
}
.expressBox {
  height: max-content;
  width: max-content;
  padding: 0;
  box-shadow: none;
}
.boxes .box,
.expressBox,
.publicityBox {
  transition: scale ease 0.3s;
  cursor: pointer;
}
.boxSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxes .box:hover,
.expressBox:hover,
.publicityBox:hover {
  scale: 1.02;
}
.table {
  border-radius: var(--border-radius-s);
  text-align: center;
  box-shadow: 0 0 30px var(--color-black-custom-05);
  padding: 15px 0;
  border-spacing: 0;
}
.th {
  cursor: default;
}
.td {
  font-size: var(--font-size-xs);
}
.th,
.td {
  border-bottom: 1px solid var(--color-black-custom-05);
  padding: 15px 5px;
}
.tbody .tr:hover {
  background-color: var(--color-primary-05);
}
.warning {
  color: var(--color-red-error-100);
  margin-left: 15px;
}
.tarifaTiempoRapido {
  background-color: var(--color-green-ok-80);
  color: var(--color-white-100);
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: var(--border-radius-s);
}
.tarifaTiempoNormal {
  background-color: var(--color-yellow-warning-80);
  color: var(--color-white-100);
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: var(--border-radius-s);
}
.btnVerMapa {
  color: var(--color-primary-100);
  cursor: pointer;
}

@media (max-width: 960px) {
  .boxes {
    flex-direction: column;
  }
  .main {
    padding: 25px;
  }
  .tarifaBox {
    width: 80%;
  }
}
