.card {
  align-items: center;
  border: 1px solid var(--color-black-custom-05);
  border-radius: var(--border-radius-l);
  padding: 8px 16px;
  color: var(--color-black-custom-100);
  display: flex;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
}
.card:hover {
  opacity: 0.8;
}
.card:active {
  opacity: 1;
}
.card i {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid var(--color-black-custom-60);
  border-right: 2px solid var(--color-black-custom-60);
  transform: rotate(45deg);
}
