.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  gap: 10px;
  height: 100vh;
  width: 100%;
  max-width: var(--break-point-mobile);
  padding: 10px 60px 50px;
}
.form .div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form p {
  text-align: center;
  font-size: var(--font-size-s);
}
.form a {
  color: var(--color-secundary-100);
}
.form button {
  background-color: var(--color-primary-100);
  color: var(--color-white-100);
  padding: 10px 15px;
  font-size: var(--font-size-s);
}

.form button span {
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkboxContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (min-width: 480px) {
  .form {
    justify-content: center;
  }
  .inputContainer {
    flex-direction: row;
  }
}
