.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border-radius: var(--border-radius-s);
  box-shadow: 0 0 30px var(--color-black-custom-05);
  padding: 20px 15px;
}
.smallForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: var(--break-point-mobile);
  padding: 30px 60px 50px;
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 30px var(--color-black-custom-05);
}
.div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.warning {
  color: var(--color-red-error-100);
}
.subTitle {
  font-size: var(--font-size-s);
  text-align: center;
}
.p {
  font-size: var(--font-size-s);
  line-height: 1.5;
  color: var(--color-black-custom-80);
}
.a {
  color: var(--color-secundary-100);
}
.h3 {
  font-weight: 400;
  color: var(--color-primary-100);
}
.smallForm button {
  background-color: var(--color-primary-100);
  color: var(--color-white-100);
  padding: 10px 15px;
  font-size: var(--font-size-s);
}
.smallForm button span,
.form button span {
  justify-content: center;
}
.form button {
  background-color: var(--color-primary-100);
  color: var(--color-white-100);
  padding: 10px 20px;
  font-size: var(--font-size-s);
  margin: 15px auto;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputRadioContainer {
  width: 200px;
  display: flex;
  gap: 15px;
}
.checkboxContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}
.aSearchCP:hover {
  color: var(--color-primary-100);
}
@media (min-width: 960px) {
  .samllForm {
    justify-content: center;
  }
  .inputsContainer {
    flex-direction: row;
  }
}
