.group,
.activeGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  margin: 2px 0;
}
.radioGroup {
  display: flex;
  align-items: center;
  gap: 2px;
  width: auto;
}
.activeGroup .label {
  transform: translateY(-65%);
  scale: 0.8;
  left: 6px;
  border-radius: var(--border-radius-m);
  background-color: var(--color-white-100);
  padding: 0 5px;
}
.activeGroup:focus-within .label {
  color: var(--color-primary-100);
}
.group i,
.activeGroup i {
  position: absolute;
  right: 15px;
  top: calc(50% - 13px);
  width: 6px;
  height: 6px;
  display: block;
  border-left: 1px solid var(--color-black-custom-80);
  border-bottom: 1px solid var(--color-black-custom-80);
  transform: rotate(-45deg);
  transition: all 0.25s ease;
}
.group:focus-within i,
.activeGroup:focus-within i {
  border-color: var(--color-primary-100);
}
.input {
  padding: 8px 10px;
  outline: none;
  font-size: var(--font-size-s);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-gray-20);
  transition: 0.15s ease;
  width: 100%;
  min-width: 100px;
}
.input[type='checkbox'],
.input[type='radio'] {
  width: auto;
  min-width: 1px;
}
.input:focus {
  border-color: var(--color-primary-100);
  outline: none;
}
.label {
  position: absolute;
  left: 10px;
  pointer-events: none;
  transform: translateY(45%);
  transition: 0.15s ease;
  color: var(--color-black-custom-80);
}
.group:focus-within .label {
  transform: translateY(-65%);
  scale: 0.8;
  left: 6px;
  border-radius: var(--border-radius-m);
  background-color: var(--color-white-100);
  padding: 0 5px;
  color: var(--color-primary-100);
}
.info {
  margin: 0 0 0 5px;
}
