.nav {
  width: 280px;
  top: 90px;
  height: 100vh;
  padding: 10px;
  position: fixed;
  box-shadow: 0 0 30px var(--color-black-custom-05);
  z-index: 100;
}
.nav ul {
  margin-top: 10px;
}
.nav small {
  margin: 0px 15px;
  cursor: default;
}
.nav hr {
  width: 90%;
  margin: 10px auto 0;
}
